.footer_component {
    margin-top: 50px;
    height: 500px;
    background-color: rgb(195, 185, 185);
}

.upperFooter {
    height: 85%; 
    background-color: #f1f1f1;
}

.bottomFooter {
    height: 15%; 
    background-color: #717171;
}

.footer_header {
    text-align: center;
    border: 2px solid black;
    padding-top: 50px;
}