/* .showcase { 
    border: 3px solid black;
    height: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
} */

.gallary {
    width: 75%;
    height: 75%;
    border: 5px black;
    border-style: solid;
    border-radius: 25px;
}